{% if user.is_staff %}
<div style="margin: 1em 0px;">			
	<div id="top-tabs" class="span-24 ui-tabs ui-widget ui-widget-content ui-corner-all"> 
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"> 
			<li class="ui-state-default ui-corner-top{% ifequal top_tab 'monitor'%} ui-tabs-selected ui-state-active{%endifequal%}"><a href="{%url monitor_select_project%}">Monitor</a></li>
			<li class="ui-state-default ui-corner-top{% ifequal top_tab 'invoicer'%} ui-tabs-selected ui-state-active{%endifequal%}"><a href="{%url invoicer_index%}">Invoicer</a></li>
		</ul>			
	</div>
	<br style="clear:both;"/>
</div>			
{% endif %}