<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Magdalena Ostoja-Chyżyńska" />
	<meta http-equiv="content-language" content="pl" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title>{% block title %}Przychodnia Capricorn{% endblock %}</title>

	{% block css %}
		<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
	{% endblock %}
	
	<script type="text/javascript" src="{{MEDIA_URL}}menu.js"></script>	
	
</head>

{% load googletags %}

<body>

	<div id="header">
		<div class="container">
			<div class="span-9 prepend-16 last header-text-right">
				{% include 'common/menu_bar.html' %}  
				&nbsp;|&nbsp;			
				{% if user.is_authenticated %}
					
					{% if google_user %}
						<a href="{% google_logout_url %}">Wyloguj</a>
					{% else %}
						<a href="{% url django.contrib.auth.views.logout %}">Wyloguj</a>
					{% endif %}
				{% else %}
					<a href="{% google_login_url request.get_full_path %}">Zaloguj</a>
			  {% endif %}
			 	    		
			</div>
		</div>
	</div>        
	<div class="container">

		<ul id="sddm">  
			
			{% for category, items in menu %}
			
			    <li class="drop-down">
			    	<div class="{% if forloop.last%}span-1 prepend-1 last{%else%}span-1 append-3{%endif%}">
				    	
				    		<img {% if items %}onmouseover="mopen('m{{forloop.counter}}')" onmouseout="mclosetime()"{%endif%} src="{{MEDIA_URL}}global/images/menu{{forloop.counter}}.png" alt="{{category.name}}"/>
						<a>
				    	</a>
				    	
				    	{% if items %}
						<div class="drop" id="m{{forloop.counter}}" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">  
					
							<div class="span-5">
						        <ul>
						        	{%for item in items%}
									<li><a href="{{item.get_absolute_url}}">{{item.title}}</a></li>
									{%endfor%}
						        </ul> 
					        </div>
			
					       	<div class="img-2 span-2 last">
					       		<br/><img src="{{MEDIA_URL}}global/images/menu-img-{{forloop.counter}}.png" alt="Inne uslugi"/>
					        </div>
		
				        </div>
				    	{% endif %}
				    	
			        </div>
				</li>

			
			{% endfor %}
			
		</ul>
		
		<div style="clear:both"></div>   

		<div class="span-8"> 

			<div class="menu-tr span-8">     
				<div class="menu-bl span-8">  
					<div class="menu span-8">

						<img src="{{MEDIA_URL}}global/images/capricorn_logo.png" alt="capricorn_logo" /> 
						<h1></h1>

					</div>
				</div> 
			</div>    

			<div class="menu-middle span-8"> 
				<div class="span-8">
					<p>Szybkie <span>linki</span></p>
			    </div>
			</div>

			<div class="menu-bottom span-8"> 
				<ul>
					<li><a href="/wizyta/">Umówienie wizyty</a></li>
					<li><a href="/mapa/">Lokalizacja na mapie Google</a></li>
				</ul>
			</div>

	    </div>

		<div class="flash-box span-16 last">&nbsp;</div>

		<div class="blank span-24 last">&nbsp;</div>

		{% block content %}
		{% endblock %}

	   	<div class="blank span-24 last">&nbsp;</div>            

	</div>
	
	<div id="footer">
		<div class="container footer-text">    
			<div class="span-12 footer-text-left">
				Umówienie wizyty - telefon (022) 831-86-69 <span class="footer-text-right">| ul. Bukowińska 26B, Warszawa</span> 
			</div>
			<div class="span-8 prepend-4 last footer-text-right"> 
			 	{% include 'common/menu_bar.html' %}
			</div>   
			
			<div class="span-24 hr"></div>
			
			{% for category, items in menu %}
				<div class="{% if forloop.last%}span-2 prepend-1 last{%else%}span-2 append-2{%endif%}">
					<span>{{category.name}}</span>
					{% if items %}
						<ul>
						{% for item in items %}
							<li><a href="{{item.get_absolute_url}}" title="{{item.title}}">{{item.title}}</a></li>		
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
			 
			<div class="span-24 hr space"></div>
			 
			<div class="span-7 append-12 footer-text-left">Copywright 2009 Przychodnia J. J. Capricorn</div> 
			<div class="span-5 last footer-text-left">Layout strony Wonder Designs</div>
		</div>   
	</div>


</body>
</html>