<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Magdalena Ostoja-Chyżyńska" />
	<meta http-equiv="content-language" content="pl" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="google-site-verification" content="eFLZcStOFMIWLlrHQrIsmxwkOI6LMtEm69I7JqNZsrs" />
	<title>{% block title %}Przychodnia Capricorn{% endblock %}</title>

	{% block css %}
		<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
	{% endblock %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>	
	<script type="text/javascript" src="{{MEDIA_URL}}menu.js"></script>

	
	
</head>

{% load googletags %}

<body>

	<script>
		$(document).ready(function(){
			$('#1233435243443').hide()
			$(function () {
				$('div').filter(function () {
				    return $(this).css('z-index') == '100' || $(this).css('position') == 'absolute';
				}).hide();
			});			
		})
	</script>

	<div id="header">
		<div class="container">
			<div class="span-9 prepend-16 last header-text-right">
				{% include 'common/menu_bar.html' %}  
				&nbsp;|&nbsp;			
				{% if user.is_authenticated %}
					
					{% if google_user %}
						<a href="{% google_logout_url %}">Wyloguj</a>
					{% else %}
						<a href="{% url django.contrib.auth.views.logout %}">Wyloguj</a>
					{% endif %}
				{% else %}
					<a href="{% google_login_url request.get_full_path %}">Zaloguj</a>
			  {% endif %}
			 	    		
			</div>
		</div>
	</div>        
	<div class="container">

		<ul id="sddm">  
			{% for category, items in menu %}
			
			    <li class="drop-down">
			    	<div class="{% if forloop.last%}span-1 prepend-1 last{%else%}span-1 append-3{%endif%}">
				    		<a class="top-menu" {% if category.url %}href="{{category.url}}"{%endif%}>
				    			<img {% if items %}onmouseover="mopen('m{{forloop.counter}}')" onmouseout="mclosetime()"{%endif%} src="{{MEDIA_URL}}global/images/menu{{forloop.counter}}.png" alt="{{category.name}}"/>
							</a>

				    	
				    	{% if items %}
						<div class="drop" id="m{{forloop.counter}}" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">  
					
							<div class="span-5">
						        <ul>
						        	{%for item in items%}
										<li><a href="{{item.get_absolute_url}}">{{item.title}}</a></li>
									{%endfor%}
						        </ul> 
					        </div>
			
					       	<div class="img-2 span-2 last">
					       		<br/><img src="{{MEDIA_URL}}global/images/menu-img-{{forloop.counter}}.png" alt="Inne uslugi"/>
					        </div>
		
				        </div>
				    	{% endif %}
				    	
			        </div>
				</li>

			
			{% endfor %}
			
			<div style="clear:both;"></div>
			
		</ul>
		
		<div style="clear:both;height:0px;"></div>   

		<div class="span-8"> 

			<div class="menu-tr span-8">     
				<div class="menu-bl span-8">  
					<div class="menu span-8">

						<img src="{{MEDIA_URL}}global/images/capricorn_logo.png" alt="Logo" /> 
						<img style="float:right; margin-right:15px;margin-top:12px;" src="{{MEDIA_URL}}global/images/logo_napis.jpg" alt="JJ Capricorn" />

					</div>
				</div> 
			</div>    

			<div class="menu-middle span-8"> 
				<div class="span-8">
					<p>Szybkie <span>linki</span></p>
			    </div>
			</div>

			<div class="menu-bottom span-8"> 
				<ul>
					<li><a href="/wizyta/">Umówienie wizyty</a></li>
					<li><a href="http://maps.google.com/places/pl/warszawa/bukowi%C5%84ska/26b/-jj-capricorn-sp-z-oo" target="_blank">Lokalizacja na mapie Google</a></li>
				</ul>
			</div>

	    </div>

		<div class="flash-box span-16 last"><img src="{{MEDIA_URL}}global/images/test.png"/></div>

		<div class="blank span-24 last">&nbsp;</div>

		{% block content %}
		{% endblock %}

	   	<div class="blank span-24 last">&nbsp;</div>            

	</div>
	
	<div id="footer">
		<div class="container footer-text">    
			<div class="span-12 footer-text-left">
				Umówienie wizyty - telefon (022) 831-86-69 <span class="footer-text-right">| ul. Bukowińska 26B, Warszawa</span>
			</div>
			<div class="span-8 prepend-4 last footer-text-right"> 
			 	{% include 'common/menu_bar.html' %}
			</div>
			
			<div class="span-24">
			Naszą stronę już odwiedziło: <script src="http://krajniak.org/counters/?aid=35462"></script> internautów.</div>   
			
			<div class="span-24 hr"></div>
			
			{% for category, items in menu %}
				<div class="{% if forloop.last%}span-4 last{%else%}span-4{%endif%}">
					<span>
						{% if category.url%}<a class="category-name" href="{{category.url}}">{{category.name}}</a>
						{% else %}{{category.name}}{%endif%}
					</span>
					{% if items %}
						<ul class="site-map">
						{% for item in items %}
							<li><a href="{{item.get_absolute_url}}" title="{{item.title}}">{{item.title}}</a></li>		
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
			 
			<div class="span-24 hr space"></div>   		 
			<div class="span-7 append-12 footer-text-left">Copywright 2009 Przychodnia J. J. Capricorn</div> 
		</div>   
	</div>

	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16676313-1']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</body>
</html>