<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Magdalena Ostoja-Chyżyńska" />
	<meta http-equiv="content-language" content="pl" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="google-site-verification" content="eFLZcStOFMIWLlrHQrIsmxwkOI6LMtEm69I7JqNZsrs" />
	<title>{% block title %}Drukuj kupon{% endblock %}</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>	

	
	<script>
	$(document).ready(function(){
		window.print()
	})
	</script>
	
</head>

<body>

	<img src="{{MEDIA_URL}}global/images/coupon.png"/>

</body>
</html>