{% extends 'page.html' %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}gallery.css" />
{% endblock %}

{% block banner %}
<div class="flash-box span-16 last"><img src="{{MEDIA_URL}}global/images/about.png"/></div>
{% endblock %}


{% block cms-content %}

	
<div id="gallery" class="content"> 
	
	<div id="controls" class="controls"></div> 
	<div class="slideshow-container"> 
		<div id="loading" class="loader"></div> 
		<div id="slideshow" class="slideshow"></div> 
	</div> 
 
	<div id="thumbs" class="navigation"> 
		<ul class="thumbs noscript">
			{% for url in galery %}
			<li> 
				<a class="thumb" href="{{MEDIA_URL}}global/galery/{{url}}" title="">{{url}}</a> 
			</li> 
			{% endfor %}
		</ul> 
	</div> 
	
	<!-- End Minimal Gallery Html Containers --> 
	<div style="clear: both;"></div>
	 
</div> 


<br/><br/><br/><br/>						

<script type="text/javascript"> 
			// We only want these styles applied when javascript is enabled
			/*$('div.navigation').css({'width' : '300px', 'float' : 'left'});*/
			/*$('div.content').css('display', 'block');*/
 
			
			
			$(document).ready(function() {				
				// Initialize Minimal Galleriffic Gallery
				$('#thumbs').galleriffic({
					imageContainerSel:      '#slideshow',
					controlsContainerSel:   '#controls'
				});
				
				$('#thumbs').hide()
			});
</script> 



{% endblock %}