{% extends 'base.html' %}

{% block content %}

	<div class="gbox2">
	   
	    {% include 'common/top-bar.html' %}
	   	<h2>1234234</h2>
	</div>
	
	<div class="col122">
    	<p>Aenean placerat rutrum posuere. Curabitur convallis porta lacus, vitae fermentum eros congue quis. Curabitur nec est dolor. Aliquam quam tellus, dapibus sit amet pulvinar at, ullamcorper eget ante. Mauris pulvinar rhoncus tellus vitae adipiscing. Ut pulvinar massa vel nisi aliquam vel posuere neque ultricies. Sed iaculis mauris id nunc scelerisque sollicitudin. Quisque a magna sapien, id cursus velit. Fusce suscipit libero fermentum odio varius congue. Duis id orci mattis ante aliquam placerat et quis augue.</p>
    </div> 		

{% endblock %}