{% extends 'base.html' %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}content.css" />
{% endblock %}


{% block content %}

	<div class="span-8">
		<div class="nav">  
			&nbsp; O nas
			<div class="hr"></div>
			<ul>
				<li><p>Nasza Historia</p></li><div class="hr"></div>
				<li><p>Przychodnia</p></li><div class="hr"></div>
				<li><p>Wirtualna wycieczka</p></li><div class="hr"></div>    
				<li><p>Galeria zdjęć</p></li>  
			</ul>
		</div> 
		<br/>
		<a href="" target="_blank"><img src="{{MEDIA_URL}}global/images/film-2.png" alt="film"></img></a><br/><br/>
		<a href="" target="_blank"><img src="{{MEDIA_URL}}global/images/galeria-2.png" alt="galeria"></img></a>	
	</div> 
	
	<div class="orange-box-container span-16 last">  
		<div class="orange-box-top span-16 last">
			<div class="orange-box-bottom span-16 last">
				<div id="orange-box">           
					<div> 
						{% block cms-content %}
						{% endblock %}
				    </div>
				</div> 
			</div>
		</div>
	</div>

{% endblock %}